body {
    background-color: #222;
    overflow: hidden; /* Keeps labels from causing scrollbars */
}

.label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    border: 1px solid #000;
}

.startBtn {
    position: absolute;
    transform-origin: center;
    height: 0.05vh;
    width: 0.05vw;
    x: 0.5vw;
    y: 0.5vh;
}

